body {
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet); 
}


.login {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 225px;
  margin-left: 400px;
  border-radius: 10%;
  border: solid;
  border-width: 5px;
  padding: 100px;
  background-color: #6495ED;
  
}

.login p {
  font-size: 26px;
  color: white;
  font-size: bold;
}

#start {
  width: 350px;
  height: 75px;
  font-size: 44px;
  border-radius: 20px;
  color: #fff;
  background-color: #f62572;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.77);
  outline: none;
}

#start:hover {
  background-color: #3652adbc;
  color: white;
}

#start:active {
  background-color: black;
  color: white;
}

.login-para{

}