*{
    margin: 0;
    padding: 0;

}
.container{
   background-image:url(Resimler/Screenshot_56.png) ;
    height: 100vh ;
    background-size:100% 100%;
}
.navbar{
    width:100%px;
    height:80px;
    background:rgb(22,112,214,0.4) ;
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.logo{
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
   
}
.logo a{
    text-decoration: none;
    font-size:30px ;
    color: white;
    font-family: sans-serif;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.navbar ul li a.active,
.navbar ul li a:hover{ background:#ff6e00 ; border-radius: 2px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%) ;
    -webkit-transform:translate(-50%,-50%) ;
    -moz-transform:translate(-50%,-50%) ;
    -ms-transform:translate(-50%,-50%) ;
    -o-transform:translate(-50%,-50%) ;
    font-family: sans-serif;
    user-select: none;
}
.center h1{
    color: black;
    font-size: 70px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}
.center h2{
    color: white;
    font-size: 70px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}
.center .buttons{
    margin:35px 280px
}
.buttons button{
    height: 50px;
    width: 150px;
    font-size: 18px;
    background-color: #ff6e00;
    color: black;
    border: solid 1px red;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
    font-weight: bold;
    -webkit-border-radius:0.5s;
    -moz-border-radius:0.5s;
    -ms-border-radius:0.5s;
    -o-border-radius:0.5s;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.buttons button:hover{
    background-color: #fff;
}